- content_for :head do
  :javascript
    Ext.application({
      name        : 'ignis',
      appFolder   : 'gui',
      controllers : ['Messaging'],
      launch      : function() {
        Ext.widget('ignis', {
          applyTo   : 'body'
        });
        window.rc.joinRoom(0, 'General Chat', false);
      }
    });

    var link = {
      editReg : "#{edit_user_registration_path}",
      logout  : "#{destroy_user_session_path}",

      sendMsg : "#{message_index_path}"
    };


