- content_for :head do
	:javascript
		Ext.application({
			name        : 'ignis',
			appFolder   : 'gui',
			controllers : ['Messaging'],
			launch      : function() {
				Ext.widget('ignis', {
					applyTo   : 'body'
				});
			}
		});



