
div#auth { padding: 20px; background-color: #fafafa; }
div#auth table td { padding: 4px 5px; }
div#auth table tr>:first-child {text-align: right; }
h2 { font-size: 18pt; padding: 5px 10px; }

.right { text-align: right; }

table.messages { width: 90%; margin: 25px;  }
table.messages td { padding: 0 5px; }
.messages td { border-bottom: 1px dotted black; }
.messages td.time { width: 15em; text-align: center; font-size: x-small; border-left: 1px dashed black; padding: 0 7px;}
.messages td.message { border-left: 1px dashed black; padding: 0 7px; }
.messages td.name { width: 10em; text-align: right; padding: 0 7px; }
