
/*div.messages { padding: 10px 20px; width: 100%; }*/
div.messages .singleMessage { margin: 1px 10px; padding: 0 10px; }
div.messages .singleMessage.me { background: #dddddd; }
div.messages .time { font-size: xx-small; }

div.messages p {display: inline;}

.commentadd { background-image: url(/assets/16x16/comment_add.png); }