
$message-namecolor: #000088;
$message-timecolor: #666666;
$message-bgcolor: #fcfcfc;
$message-self-bgcolor: #f3f3f3;
$message-historycolor: #e5e5ff;
$history-dates-color: #888888;

#history  {
  padding: 0px 30px 5px;
  
  span.from, span.to { 
    color: $history-dates-color; 
  }
}

div.messages {
  .newday {
    margin: 8px 30px 2px; 
    padding: 1px 10px; 
    background: $message-historycolor; 
  }
  .singleMessage { 
    margin: 1px 10px; 
    padding: 0 10px; 
    background: $message-bgcolor; 
  }
  .singleMessage.me { 
    background: $message-self-bgcolor; 
  }

  p { display: inline; }
  
  span.name { 
    font: { 
      weight: bold; 
    }
    color: $message-namecolor; 
  }
  span.time { 
    font: { 
      size: xx-small; 
    }
    color: $message-timecolor; 
  }
  span.message {}
}
